<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIspnbzXFjHzQS7AvdKCjHxiHB9UE4ZME</string>
	<key>GCM_SENDER_ID</key>
	<string>153564388170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-17828</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-17828.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153564388170:ios:b9e38c39043e0d2a9affb3</string>
</dict>
</plist>